<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Breast Cancer Detection System</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Logo</a>
					</div>
			
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
<!-- 						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul> -->
					
						<ul class="nav navbar-nav navbar-right">
							<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="email">

							</div>
								<div class="form-group">
								<input type="password" class="form-control" placeholder="password">
							</div>
							<button type="submit" class="btn btn-default">signin</button>
						</form>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav><!-- End of Navbar -->

			<div class="row">
				<div class="col-lg-9">
					        <div class="jumbotron jumbotron-fluid">
								<div class="container">
									<h1 class="display-3">Breast Cancer</h1>
								<p class="lead">This is a simple breast detection system. Register to get started </p>
								</div>
							</div>
				</div>
				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="">
									<div class="form-group">
									<label>Name</label>
								<input type="text" class="form-control" placeholder="Name">
							</div>
							<div class="form-group">
								<label>Email Address</label>
								<input type="email" class="form-control" placeholder="email">
							</div>
								<div class="form-group">
									<label>Date of Birth</label>
								<input type="date" name="" id="input" class="form-control" value="" required="required" title="">
							</div>
							
								<div class="form-group">
									<label>Password</label>
								<input type="password" class="form-control">
							</div>
								<div class="form-group">
									<label>Confirm Password</label>
								<input type="password" class="form-control" >
							</div>
							<button type="submit" class="btn btn-default btn-block">Create Account</button>
						</form>
						</div>
					</div>
					
				</div>
			</div>

			



















		</div> <!-- End of main container -->
		<!-- Optional JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" ></script>
	</body>
</html>